<!--mockup for the footer can be found in ~./docs/prototype-->
<footer>

  <!--first layer-->  
    
    <section class="w3-container w3-deep-purple">
      
      <div class="w3-quarter">
        <p></p>
      </div>

      <!--first column-->
      <section class="w3-quarter">
        <h4>Support</h4>
        <p class="footer-text">
          Email of Repo maintainer: 
          <span>
            <a href = "mailto:elmaven@elucidata.io">elmaven@elucidata.io</a>
          </span>
        </p>
      </section>

      <!--second column-->
      <section class="w3-quarter">
        <h4>Contact Us</h4>
        <p class="footer-text">
          Get in touch with us: 
          <span>
            <a href = "mailto:info@elucidata.io">info@elucidata.io</a>
          </span>
        </p>  
      </section>


      <div class="w3-quarter">
        <p></p>
      </div>
    
    </section>

  <!--second layer-->
  <section class="w3-container w3-deepest-purple">
    <p class="footer-text">Code and documentation copyright 2017 Elucidata Inc.  Code released under GPL v2.0.  Documentation is released under MIT License.</p>
  </section>

</footer>