<!--mockup for the header can be found in ~./docs/prototype-->

<header class="bg-two">
  <!--logo on the left-->
  <img class="logo-img bg-two" src="./../assets/images/elucidata.svg">
  
  <nav class="bg-two">
    <ul>
      <li><a href = "https://www.google.com">SUPPORT</a></li>
      <li><a href = "https://www.github.com">FAQs</a></li>
      <li><a href = "https://www.bitbucket.org">DOWNLOAD</a></li>
      <li><a href = "https://www.youtube.com">GETTING STARTED</a></li>
      <li><a href = "https://www.amazon.com">HOME</a></li>
    </ul>
  </nav>

</header>


