<!--mockup for the splash page can be found in ~./docs/prototype-->

<section class="w3-row bg-two">
    
  <div class="w3-col bg-two" style="width:30%">
    <h1>El-Maven</h1>
    <p>An open-source mass spectrometry data processing engine.</p>
    <!--add buttons here-->
  </div>

  <div class="w3-col bg-two" style="width:70%">
    <img class="splash-img bg-two" src="./../assets/images/splash.svg">
  </div>

<section>