<section class="w3-container w3-padding-large bg-two">

  <div class="w3-third">
    <p></p>
  </div>

  <div class="w3-third w3-center">
    <h4>User Stories</h4>
    <p>
      "El-MAVEN saves a lot of time and effort by grouping peaks with samples. I can't imagine picking peaks for each sample separately especially when dealing with hundreds of samples.  With setting of parameters we also maintain consistency across the lab and it increases reproducibility.  One of the features that I often end up using is the bar plot which plots intensities across samples.  And the best thing, it's free and open!
    </p>
    <b>Raisa</b>
    <br>
    <em>POST GRADUATE AT YALE UNIVERSITY</em>
  </div>

  <div class="w3-third">
    <p></p>
  </div>

  
</section>